* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: #2A7B9B;
    background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(5, 43, 20, 1) 56%, rgba(237, 221, 83, 1) 1000%);
}

h1{
    background-color: rgb(145, 62, 62);
    text-align: center;
    padding: 2rem;
    border: 5px solid #222647;
}

h2, h3 {
    border: 2px solid #eea123;
    border-radius: 5px;
    text-align: center;
}

p {
    padding: 2rem;
    text-align: center;
}

details {
    cursor: pointer;
    color: #ac9f8b;
    padding: 2rem 1rem;
}

ul {
    padding: 2rem;
    text-align: center;
}